﻿@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome TicketPlus Pages</h1>
    <p>Hi My name is Tamás Levente Török. I'm writing this program. </p>
</div>
